.textArea {
    font-family: 'Inconsolata', 'Ubuntu Mono', monospace;
    display: block;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    width: 100%;
    padding: 1em;
    background-color: lightgrey;
    border: none;
    resize: none;
    overflow: hidden;
}

.textArea:nth-child(1) {
    margin-top: 0;
}

.textArea:focus {
    outline: 0;
}

.textArea.indented {
    padding-left: 3em;
}

.header1 { font-size: 2.5rem; }
.header2 { font-size: 2.0rem; }
.header3 { font-size: 1.5rem; }
.header4 { font-size: 1.2rem; font-weight: bold; }