body {
    margin: 1rem;
    font-family: 'Zilla Slab', 'Cantarell', 'Ubuntu', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    font-family: 'Cantarell';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

:root {
    --highlight-color: #A8D5FF;
}